.header{
    background-color: #2B2825 !important;
    color: #fff;
}
.menu{
    background-color: transparent;
    justify-content: "center";
    color: #fff;
    font-size: 16;
    padding-bottom: 10;
    margin-top: 10;
    position: sticky !important;
}
.header-row{
    margin-top: 10px;
    position: sticky !important;
}
.header-row h1{
    font-weight: bolder;
}
